* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Abel", sans-serif;
    font-size: 10px;
    scroll-behavior: smooth;
  }
  .wrapper {
    width: auto;
    height: 100vh;
  
    background-image: url("metro.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .Container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: rgba(51, 51, 255, 0.5);
    /*border-bottom: 1px solid #19004d;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
  }
  .logo {
    height: 100px;
    font-family: "Abel", sans-serif;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 0.5rem;
    color: white;
    padding: 15px;
    background-color: #000099;
  }
  .menu {
    display: inline-block;
    line-height: 80px;
  }
  .menu ul {
    list-style: none;
    /* display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center; */
  }
  .menu ul li {
    display: inline-block;
  }
  .menu ul li a {
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    color: #ffffb3;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 10px 15px;
    margin: 0 5px;
    transition: 0.5s ease;
  }
  .menu ul li a:hover {
    border-color: white;
  }
  .menu ul li:nth-child(6) a {
    color: white;
    border: 1.5px solid #000033;
  }
  .menu ul li:nth-child(6) a:hover {
    color: black;
    background-color: #fff200;
  }
  .menu ul li:nth-child(7) a {
    color: white;
    border: 1.5px solid #000033;
  }
  .menu ul li:nth-child(7) a:hover {
    color: black;
    background-color: #fff200;
  }
  .header {
    text-align: center;
  }
  .header h1 {
    font-family: "Raleway", sans-serif;
    font-size: 4rem;
    font-weight: 600;
    letter-spacing: 0.2rem;
    color: white;
    padding: 45% 20px 8px;
  }
  .header p {
    font-family: "Raleway", sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 0.2rem;
    color: white;
    padding: 10px 15px;
  }
  /*button {
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 0.15rem;
    color: black;
    background-color: #fff200;
    padding: 20px 30px;
    margin: 50px 5px 0;
    border: none;
    cursor: pointer;
  }*/
  
  .content {
    background-color: rgba(51, 51, 255, 0.5);
    width: 500px;
    height: 500px;
  }
  
  .form-title {
    padding: 10px 40px 10px;
    height: 80px;
    font-family: "Abel", sans-serif;
    font-size: 4rem;
    font-weight: 700;
    letter-spacing: 0.5rem;
    color: white;
    margin: 3%;
  }
 
  
  /* ----------Table css-------- */
  
  #userTicket {
    cursor: pointer;
  }
  
  #table {
    /* background-color: rgba(51, 51, 255, 0.5); */
    width: 850px;
    /* height: 400px; */
    max-height: 500px;
  }
  #tab {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #tab th,
  #tab td {
    border: 1px solid #ddd;
    padding: 14px;
    font-size: 15px;
  }
  
  #tab tr {
    background-color: #f2f2f2;
  }
  #tab tr:hover {
    background-color: #ddd;
  }
  #tab th {
    text-align: left;
    background-color: #04aa6d;
    color: white;
  }
  
  /* ----------Login css --------- */
  
  .content2 {
    background-color: rgba(51, 51, 255, 0.5);
    width: 500px;
    height: 400px;
  }
  
  .form-title {
    padding: 10px 40px 10px;
    height: 80px;
    font-family: "Abel", sans-serif;
    font-size: 4rem;
    font-weight: 700;
    letter-spacing: 0.5rem;
    color: white;
    margin: 3%;
  }
  select {
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    margin: 8px 0;
    padding: 5px 0;
    width: 50%;
  }
  .beside {
    display: flex;
    justify-content: space-between;
  }
  button {
    color: #ffffff;
    background-color: #4caf50;
    height: 40px;
    width: 25%;
    margin-top: 15px;
    cursor: pointer;
    border: none;
    border-radius: 2%;
    outline: none;
    text-align: center;
    font-size: 16px;
    text-decoration: none;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
  }
  button:hover {
    background-color: #333333;
  }
/* ------ Search CSS ----- */
.search {
  margin-top: 140px;
  margin-right: auto;
  width: 100%;
  text-align: center;
}
#date {
  font-size: 16px;
  padding: 8px;
  border: none;
}

#serBtn {
  padding: 10px 8px;
  font-size: 17px;
  border: none;
  cursor: pointer;
  width: 10%;
  background-color: yellow;
  color: #333333;
  transition: 0.2s;
}
#serBtn:hover {
  background-color: #333333;
  color: white;
}
  