
<!DOCTYPE html>
    {% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{% static 'CSS/AboutUs.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>

    

</head>
<body>
    
<div class="nav">
    <div class="logo">
        Dhaka <br> Metro Rail
    </div>
    <div class="menu">
        <ul class="navMenu">
            <li><a href="#">Home</a></li>
            <li><a href="#">Ticket</a></li>
            <li><a href="#">Schedule</a></li>
            <li><a href="#">Fare</a></li>
              <li><a href="#">About US</a></li>
            <li><a href="#">Login</a></li>
            <li><a href="#">Registration</a></li>
            <li><a href="#">About Us</a></li>

        </ul>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
    
<div class="content">
<P>
    <h1 style="color:blue"> <bold>METRO RAIL</bold></h1>
    <br>
    Dhaka Metro is projected to serve more than 60,000 passengers per hour by 2022, with wait times of approximately 4 minutes.The entire route will be able to be travelled in less than 40 minutes at a speed of 100 km/h (62 mph), expected to drastically reduce the number of private cars on Dhaka's streets as well as their potentially 7-hour-long standstills.The system plans to use magnetic contactless Integrated Circuit Ticketing commonly also known as smart cards. Platform screen door (PSD) barriers used at the platform level will increase safety and increase efficiency.[9]

When the service is in full operation, trains of six air-conditioned spacious cars will arrive every four minutes going each way at each of the 16 stations.

The project is being managed by the Communications Ministry's Dhaka Transport Co-ordination Authority, and a consortium of foreign as well as Bangladeshi firms known as NKDM Association is acting as General Consultant (GC). NKDM Association consists of: Nippon Koei Japan and Development Design Consultants (local consultant - Bangladesh).
</P>
</div>
</body>
</html>