<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{% static 'CSS/sellticket.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="nav">
        <div class="logo">
            Dhaka <br> Metro Rail
        </div>
        <div class="menu">
            <ul class="navMenu">
                <li><a href="#">Home</a></li>
                <li><a href="#">Ticket</a></li>
                <li><a href="#">Schedule</a></li>
                <li><a href="#">Fare</a></li>
                  <li><a href="#">About US</a></li>
                <li><a href="#">Login</a></li>
                <li><a href="#">Registration</a></li>
                <li><a href="#">About Us</a></li>
    
            </ul>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="content">
    <p> 
    <h2>Ticket Form</h2>
    <form>
        <lebel for="source"> Source: </lebel>
        <input type="text" name="source" id="source">
        <br>

        <lebel for="destinationform"> Destination From: </lebel>
        <input type="text" name="source" id="source">
        <br>

        <lebel for="destinationto"> Destination To: </lebel>
        <input type="text" name="source" id="source">
        <br>

        <lebel for="traveldate"> Travel Date: </lebel>
        <input type="date" name="traveldate" id="traveldate">
        <br>
        
        <input type="submit" value="Ticket">  
    </p>
</div>    

    </form>


    
</body>
</html>