<!DOCTYPE html>
<html>
<head>
    {% load static %}
  <link rel="stylesheet" href="{% static 'Tickets.css' %}">
</head>
<div class="wrapper">
  <div class="Container">
        <div class="nav">
            <div class="logo">
                Dhaka <br> Metro Rail
            </div>
            <div class="menu">
                <ul class="navMenu">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Ticket</a></li>
                    <li><a href="#">Schedule</a></li>
                    <li><a href="Fare">Fare</a></li>
                      <li><a href="#">About US</a></li>
                    <li><a href="#">Login</a></li>
                    <li><a href="Register.html">Registration</a></li>
                </ul>
            </div>
        </div>
  <div class="container2">
  <form method="post" action="{% url 'AfterPostponeTickets' %}">
      {% csrf_token %}
   <label for="ticket"></label>
    <input type="number" id="ticket" name="ticket" placeholder="ticket ID...">
      <label for="date"></label>
      <br>
      <br>
      <br>
      <label for="odate"></label>
      <h1>Enter Previous Travel Date:</h1>
    <input type="date" id="odate" name="odate" placeholder="Travel Date...">
    <br>
      <br>
      <br>
      <label for="ndate"></label>
      <h1>Enter New Travel Date:</h1>
      <input type="date" id="ndate" name="ndate" placeholder="New Date...">
    <br>
      <br>
      <br>
    <label for="email"></label>
    <input type="email" id="email" name="email" placeholder="Your Email..">
    <br>

    <input type="submit" value="Postpone Ticket">
  </form>
</div>


    </div>
</div>
</html>