{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Page</title>
    <link rel="stylesheet" href="{% static 'admin.css' %}">
    <!-- <link rel="stylesheet" href="/static/admin.css"> -->


</head>
<body>

  <div class="wrapper">
    <div class="Container">
          <div class="nav">
              <div class="logo">
                  Dhaka <br> Metro Rail
              </div>
              <div class="menu">
                  <ul class="navMenu">
                      <li><a href="{% url 'nav' %}">Home</a></li>
                      <li><a href="#">Ticket</a></li>
                      <li><a href="{% url 'scheck' %}">Schedule</a></li>
                      <li><a href="#">Fare</a></li>
                      <li><a href="#">About US</a></li>
                           
                      
                      <li><a href="{% url 'logout' %}">Logout</a></li>
                      

                  </ul>

              </div>
          </div>

      </div>

  </div>
  <div class="containter">
    <div class="admin">
      <h4> Welcome {{user.username}}</h4> <br>

      
      <a class="complain-box" href="#" >Sell Ticket</a>
        
      

      <a class="complain-box" href="{% url 'TicketValid' %}">Check Ticket Validation</a>
      
    </div>

</body>
</html>