
{% load static %}
{% static url 'login' %}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href={% static 'style.css' %}>
</head>
<body>
    <div class="wrapper">
        <div class="Container">
              <div class="nav">
                  <div class="logo">
                      Dhaka <br> Metro Rail
                  </div>
                  <div class="menu">
                      <ul class="navMenu">
                          <li><a href="{% url 'nav' %}">Home</a></li>
                          <li><a href="#">Ticket</a></li>
                          <li><a href="schedule_check.html">Schedule</a></li>
                          <li><a href="#">Fare</a></li>
                            <li><a href="#">About US</a></li>
                          <li><a href="login.html">Login</a></li>
                          <li><a href="Register.html">Registration</a></li>
                      </ul>
                  </div>
              </div>


              <div class="content2" id="login">
                 
                  
                  

                <h1 class="form-title">Login</h1>
                <form method="POST" action="{% url 'login' %}">
                    {% csrf_token %}
                   <input type="text" name="username" placeholder="Username"> <br>
                   <input type="password" name="password" placeholder="Password"> <br>
                   <button type="submit">Submit</button>
                </form>
                {% for message in messages %}
                <p id="messages">{{message}}</p>
                {% endfor %}
            </div>
</body>
</html>

