
<!DOCTYPE html>
{% load static %}

<html>
<head>
  <link rel="stylesheet" href={% static 'style.css' %}>
  
</head>
<div class="wrapper">
  <div class="Container">
        <div class="nav">
            <div class="logo">
                Dhaka <br> Metro Rail
            </div>
            <div class="menu">
                <ul class="navMenu">
                    <li><a href="{% url 'nav' %}">Home</a></li>
                    <li><a href="#">Ticket</a></li>
                    <li><a href="{% url 'scheck' %}">Schedule</a></li>
                    <li><a href="#">Fare</a></li>
                    <li><a href="#">About US</a></li>
                    <li><a href="{% url 'login' %}">Login</a></li>
                    <li><a href="#">Registration</a></li>
                    
                    
                </ul>
               
            </div>
        </div>

    </div>

</div>
</html>
