
<!DOCTYPE html>
{% load static %}

<html>
<head>
  <link rel="stylesheet" href="{% static 'css/nav.css' %}">
  <img src="{% static 'images/metro.jpg' %}" alt="metro">
</head>
<div class="wrapper">
  <div class="Container">
        <div class="nav">
            <div class="logo">
                Dhaka <br> Metro Rail
            </div>
            <div class="menu">
                <ul class="navMenu">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Ticket</a></li>
                    <li><a href="#">Schedule</a></li>
                    <li><a href="#">Fare</a></li>
                      <li><a href="#">About US</a></li>
                    <li><a href="#">Login</a></li>
                    <li><a href="#">Registration</a></li>
                    
                    
                </ul>
                {% block content %}
                {% endblock %}
            </div>
        </div>

    </div>

</div>
</html>
