{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>renew package</title>
    <link rel="stylesheet" href="{% static 'premium member page.css' %}">
</head>
<body>
    <div class="wrapper">
        <div class="Container">
              <div class="nav">
                  <div class="logo">
                      Dhaka <br> Metro Rail
                  </div>
                  <div class="menu">
                      <ul class="navMenu">
                          <li><a href="#">Home</a></li>
                          <li><a href="#">Ticket</a></li>
                          <li><a href="#">Schedule</a></li>
                          <li><a href="#">Fare</a></li>
                            <li><a href="#">About US</a></li>
                          <li><a href="#">Login</a></li>
                          <li><a href="#">Registration</a></li>
                          
                          
                      </ul>
                      
                  </div>
              </div>
      
          </div>
      
      </div>
    <div class="containter">
        <div class="table-s">
            <table >
                <div class="header">
                    <tr>
                        <th>Current Packagaes</th>
                        <th>End date</th>
                        
                      </tr>
                </div>
            
                <div class="content">
                    <tr>
                        <td>Monthly</td>
                        <td>20/12/2021</td>
                        
                      </tr>
                      <tr>
                        <td> -- </td>
                        <td> -- </td>
                       
                      </tr>
                      <tr>
                        <td> -- </td>
                        <td> -- </td>
                       
                      </tr>
                </div>
                
              </table>
        </div>
        <br>
        <div class="rn-ac">
           <div class="rnp">
            <a href="rn.html">Renew Package</a>
           </div>
            
           
            <div class="sub">
                <label for="Submit">Apply for card</label>
            <input type="submit" value="Submit">
           </div>
            
        </div>

        <div class="bigp">
            <div class="package-selection">
                <div class="ch">
                    <input type="checkbox" id="pac" name="vehicle1" value="p">
                    <label for="p">Renew Current Package</label>
                </div>
                <div class="pps">
                    <label for="">Select new package</label>
                <select name="pay" id="pay">
                    <option value="None">None</option>
                    <option value="Monthly-1000BDT">Monthly-1000BDT</option>
                        <option value="Half-Yearly-4500BDT">Half-Yearly-4500BDT</option>
                        <option value="Yearly-8000BDT">Yearly-8000BDT</option>
                </select>
    
                </div>
                
                
            </div>
            <br>
            <div class="confirm">
                <input type="submit" value="Confirm">
            </div>
    
        </div>

        
    </div>
    
    
    
</body>
</html>